
@media only screen and (max-width: 770px) {
    #page, .region-bottom {
        max-width: 764px;
        width: 100%;
    }
    #header {
        padding-left: 2px;
        padding-right: 2px;
        max-height: 50px;
    }
    #logo img {
        max-height: 50px;
    }
    #name-and-slogan {
        margin-top: 2px;
    }
    #search_parameters p {
        margin: 0 3px;
    }
    .sidebar-first #content {
        width:100%;
        margin: 0;
    }

    #block-manidora-manidora-homepage-tabs,
    .islandora_fits_table {
       width: 100%;
    }

    /* Break long values in FITS data */
    .islandora_fits_table td {
       word-break: break-word;
    }

    ul.tabs-primary, ul.home-tabs-container {
       margin: 0px;
       display: flex;
       flex-flow: row;
    }

    ul.tabs-primary li, .home-tab {
        padding: 5px 2px;
        flex-grow: 1;
        text-align: center;
        border-radius: 0px;
        margin-right: 0px;
    }

    ul.tabs-primary li:not(:last-child), .home-tab:not(:last-child) {
        border-right: 1px solid #000;
    }

    #block-islandora-collection-search-islandora-collection-search {
        padding: 0 8px;
    }

    #islandora-collection-search-form #edit-collection-select {
        max-width: 100px;
    }

    .sidebar h2.block-title {
        margin-right: 15px;
        padding-right: 40px;
    }

    #islandora-solr-top {
       position: relative;
    }

    #block-manidora-manidora-homepage-thumbnails,
    #block-manidora-manidora-whats-new,
    #slogan-floater, /* search box and menu */
    #welcome-block p:not(:first-child), /* paragraphs in welcome box */
    aside, /* sidebars */
    #block-menu-menu-search-bar-menu, /* Advanced and newspaper search links */
    #block-menu-menu-new-main-menu /* Home link on nav menu */
    {
        display: none;
    }

    #featured {
        /*font-size: 100% !important;*/
        max-height: 100px;
    }

    #block-menu-menu-new-main-menu,
    .page-frontpage #block-menu-menu-new-main-menu {
        margin-right:0px;
    }
    
    .view-whats-new .views-field-info {
        max-width: 68px;
    }
    .featured-new .views-row {
        padding: 2px;
        max-height: 66px;
    }
    #block-views-whats-new-block {
        height: 298px;
    }
    article {
        padding: 0 5px;
    }
    div.vertical-tabs {
        margin-left: 5em
    }
    .vertical-tabs ul.vertical-tabs-list {
        width: 5em;
        margin-left: -5em;
    }
}
